body {
    background-color: palegoldenrod; 
}

header {
    margin-bottom: 14px;
}

footer {
    background-color: burlywood;
    padding: 24px;
    margin-top: 24px;
}

main {
    background-color: white;
    width: 70%;
    margin:auto;
    padding: 8px;
}

h4 {
    padding:0%;
    margin: 0%;
}

.by {
    font-weight:100;
    color: rgb(108, 106, 106);
}

img {
    height: 300px;
    width: auto;
}

.main-pg-box {
    border:1px outset lightblue;
    padding: 24px;
}








